Repository ava-labs/teleporter, pull requests merged in 2024-08, with the labels that each got.

#477 Staking manager upgradability
  contracts/staking/NativeTokenStakingManager.sol
  contracts/staking/StakingManager.sol
Labels: upgradeability, L1 Staking Contract

#476 Staking manager unit tests
  contracts/staking/NativeTokenStakingManager.sol
  contracts/staking/StakingManager.sol
  contracts/staking/StakingMessages.sol
  contracts/staking/interfaces/IStakingManager.sol
  contracts/staking/tests/NativeTokenStakingManagerTests.t.sol
  contracts/staking/tests/StakingManagerTests.t.sol
  contracts/staking/tests/StakingMessagesTests.t.sol
  contracts/utilities/ICMInitializable.sol
Labels: tests, L1 Staking Contract

#497 PoA e2e test
  abi-bindings/go/staking/PoAValidatorManager/PoAValidatorManager.go
  scripts/abi_bindings.sh
  tests/flows/errors.go
  tests/flows/governance/validator_set_sig.go
  tests/flows/staking/erc20_token_staking.go
  tests/flows/staking/native_token_staking.go
  tests/flows/staking/poa_validator_manager.go
  tests/flows/teleporter/add_fee_amount.go
  tests/flows/teleporter/basic_send_receive.go
  tests/flows/teleporter/deliver_to_nonexistent_contract.go
  tests/flows/teleporter/deliver_to_wrong_chain.go
  tests/flows/teleporter/insufficient_gas.go
  tests/flows/teleporter/registry/check_upgrade_access.go
  tests/flows/teleporter/registry/pause_teleporter.go
  tests/flows/teleporter/registry/teleporter_registry.go
  tests/flows/teleporter/relay_message_twice.go
  tests/flows/teleporter/relayer_modifies_message.go
  tests/flows/teleporter/resubmit_altered_message.go
  tests/flows/teleporter/retry_successful_execution.go
  tests/flows/teleporter/send_specific_receipts.go
  tests/flows/teleporter/teleporter_message_ids.go
  tests/flows/teleporter/unallowed_relayer.go
  tests/flows/teleporter/validator_churn.go
  tests/local/e2e_test.go
  tests/testnet/main/run_testnet_flows.go
  tests/utils/staking.go
Labels: enhancement, tests, L1 Staking Contract

#501 Moving uptime to PoS
  abi-bindings/go/staking/ERC20TokenStakingManager/ERC20TokenStakingManager.go
  abi-bindings/go/staking/NativeTokenStakingManager/NativeTokenStakingManager.go
  abi-bindings/go/staking/PoAValidatorManager/PoAValidatorManager.go
  contracts/staking/PoAValidatorManager.sol
  contracts/staking/PoSValidatorManager.sol
  contracts/staking/ValidatorManager.sol
  contracts/staking/ValidatorMessages.sol
  contracts/staking/interfaces/IPoSValidatorManager.sol
  contracts/staking/interfaces/IValidatorManager.sol
  contracts/staking/tests/PoSValidatorManagerTests.t.sol
  contracts/staking/tests/ValidatorManagerTests.t.sol
  contracts/staking/tests/ValidatorMessagesTests.t.sol
Labels: L1 Staking Contract

#503 Simplify completeEndValidation
  abi-bindings/go/staking/ERC20TokenStakingManager/ERC20TokenStakingManager.go
  abi-bindings/go/staking/NativeTokenStakingManager/NativeTokenStakingManager.go
  abi-bindings/go/staking/PoAValidatorManager/PoAValidatorManager.go
  contracts/staking/PoSValidatorManager.sol
  contracts/staking/README.md
  contracts/staking/ValidatorManager.sol
  contracts/staking/ValidatorMessages.sol
  contracts/staking/interfaces/IValidatorManager.sol
  contracts/staking/tests/ValidatorManagerTests.t.sol
  tests/utils/staking.go
Labels: L1 Staking Contract
